.c-file-manager_toolbar {
  border: 1px solid var(--color-border);
  border-bottom: 0;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem /* 4px */;
  padding-left: 0.5rem /* 8px */;
  padding-right: 0.5rem /* 8px */;
  &_left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem /* 4px */;
    margin-right: 0.25rem /* 4px */;
    border-right: 1px solid var(--color-border);
  }
}
